.site-header
{ 
    background-color:gainsboro;
}
.site-navbar
{ 
    background-color:rgb(236, 107, 254);
    height: 3em;
}
.cart-header
{
    text-align: center;
    padding-bottom: 1em;
}
.cart-item-quantity {
    max-width: 80px;
    text-align: center;
}
.cart-total
{
    text-align: right;
    font-size: 1.375rem;
}
.cart-total-amount
{
    font-size: 1.875rem;
}
.site-copyright
{
    text-align: right;
    float: right;
}
li
{
    list-style: none;
}

.e0uoi2y6hf {
    padding: 30px 0 0;
    margin: 0 auto;
    width: 966px;
    text-align: center;
    clear: both;
}
